hr.solid {
    border-top: 5px solid #bbb;
    width: 110%;
    left: -18.5%;
    margin-bottom: 2%;
    position: relative;
}
.verticalline {
    border-left: 6px solid #bbb;
    height: 100%;
    position: absolute;
    top: 0;
    left: 80%;
}
hr.linePosition {
    position: absolute;
    top: 25%;
    left: -30%;
  }

.workspacebox {
    background-color: rgb(141, 215, 207);
    width: 300px;
    height: 250px;
    font-family: verdana;
    border-radius: 25px;
    border: 3px solid darkgreen;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    padding: 5px;
    margin: 20px;
}
.accounticon {
    top: 10%;
    position: absolute;
    left: 84%;
  }
.loginButton{
    top: 3%;
    position: absolute;
    left: 85%;
    width: 15%;
    text-align: center;
}
.settingsicon {
    top: 40%;
    position: absolute;
    left: 86.5%;
  }

.addWorkspace{
    top: 13%;
    left: 72%;
    position: absolute;
    cursor: pointer;
}

.headerfont{
    font-family: Verdana;
    font-weight: bold;
    font-size: 600%;
    position: relative;
    top: 3%;
    left: 0%;
    margin-bottom: 4%;
}


.motto{
    position: absolute;
    top: 20%;
    left: 32%;
    font-size: 150%;
}

.banner {
    background: radial-gradient(white, rgba(221, 223, 222, 0.705));
    width: 80%;
    height: 28%;
    position: absolute;
    left: 0px;
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
.loginContainer{
    padding: 16px;
    width: 100%;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
}

.deleteButton{
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: relative;
    right: 40%;
}

.editBox{
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: relative;
}

.editPicture{
    width: 50px;
    height: 50px;
    position: relative;
    top: 75%;
    left: 54%;
    cursor: pointer;
}

.enter-button{
    position: relative;
    top: 75%;
    left: 5%;
    cursor: pointer;
}

.workspaceNameText{
    font-size: 30px;
    font-size: 3.5vw;
    font-family: verdana;
    font-weight: bold;
    position: relative;
    right: 37%;
}

.signoutBtn{
    top: 55%;
    left: 86.5%;
    position: absolute;
}

.inviteButton{
    position: absolute;
    top: 20%;
    left: 3%;
}

.formPosition{
    position: absolute;
    top: 20%;
    left: 3%;
}
.inviteSave{
    position: absolute;
    top: 25%;
    left: 3%;
}

.inviteTable{
    position: absolute;
    top: 60%;
    left: 86%;
}
td{
    text-align: center;
}

#addHint{
    font-size: 150%;
}