.text-large{
    font-size: 200%;
}

html, body { height: 100%; }

.timeline{
  min-height: 10%;
}

.container-fluid{
    min-height: 100%;
    overflow: hidden;
    padding-right: 0;
    padding-left: 0;
    margin-right:100px;
    margin-left: 0px;
    
}

#task-bar {
    max-width: 1%;
    margin-bottom: -9999px;
	padding-bottom: 9999px;
}

#chat{
max-width: auto;
margin-bottom: 0px;
padding-bottom: 95%;
}

#workspace {
  margin-left: 2rem;
  border-radius: 25px;
  border: 5px solid  rgba(9, 9, 82, 0.705); 
  max-width: auto;
	margin-bottom: -9999px;
	padding-bottom: 9999px;
}

#theTimeline{
  min-height: 5%;
  padding-bottom: 10px;
}

#task-button{
  margin-left: -12.5px;
}

.body {
  background-color: rgb(106, 108, 192);
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
}
  
.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}

.gradient{
  background: radial-gradient(white, rgba(13, 13, 133, 0.705));
}

#stickyNote {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
  border-radius: 5%;
}

#stickyNoteheader {
  border-radius: 5%;
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: rgb(189, 189, 7); 
}
.workspaceTitle{
  opacity: 80%;
  margin-top: 1rem;
  text-align: center;
  cursor: default;
  font-size: 3rem;
}

.stickyTitle{
  align-items: center;
  font-size: 30px;
  font-family: verdana;
  font-weight: bold;
}

.stickyTitleName{
  position: relative;
  top: 0%;
  text-align: center;
}

.editBox{
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.deleteBox{
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.stickyBodyModal{
  width: "250px";
  height: "250px";
  font-size: 14pt;
}

#image{
  width: 250px;
  height: 250px;
  cursor: move;
  background-color: yellow; 
  position: absolute;
  top: 50%;
  left: 50%;
}


.backButton{
  position: absolute;
}
#inviteDiv{
  position: absolute;
  top: 0%;
  left: 80%;
  z-index: 1000;
}
.invitePopUp{
  display: none;
  background-color: lightblue;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 10%;
  left: 70%;
  z-index: 1000;
  border: 5px solid;
  border-radius: 2%;
  text-align: center;
}

.invitedText{
  display: none;
}
.closeInvite{
  color: rgb(0, 0, 0);
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: large;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: .5%;
  left: 93%;
  cursor: pointer;
}

.authorTextNode{
  display: none;
  position: absolute;
  top: -45%;
  left: 0%;
  padding-left: 2%;
  padding-right: 2%;
  border: 2%;
  text-align: center;
  background-color: #f1f1f1;
}
