.text-large{
    font-size: 200%;
}

html, body { height: 100%; }

.container-fluid{
    min-height: 100%;
    overflow: hidden;
    padding-right: 0;
    padding-left: 0;
    margin-right:100px;
    margin-left: 0px;
    
}

#task-bar {
    max-width: 1%;
    margin-bottom: -9999px;
	padding-bottom: 9999px;
}

#chat{
max-width: auto;
margin-bottom: 0px;
padding-bottom: 95%;
}

#workspace {
  max-width: auto;
	margin-bottom: -9999px;
	padding-bottom: 9999px;
}

#timeline{
    min-height: 5%;
}

#task-button{
    margin-left: -12.5px;
}

.body {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
  }
  
  .container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  .time-right {
    float: right;
    color: #aaa;
  }
  
  .time-left {
    float: left;
    color: #999;
  }

  .gradient{
    background: radial-gradient(white, rgba(13, 13, 133, 0.705));
}